#boat-scroller::-webkit-scrollbar{
    display: none;
}

.dot {
    width: 6px;
    height: 6px;
    background: black;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    transition: width 0.3s ease; /* pill expand animation */
}

.dot-fill {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    background: white;
    border-radius: 0;
}

/* Only active dot expands */
.dot.active {
    width: 30px;
    border-radius: 9999px;
}

/* Only active dot-fill has slow animation */
.dot-fill.active {
    transition: width 4s linear;
}
